@import "config";
@import "loader";

.picker-container {
  position: absolute;
  bottom: 30px;
  right: 30px;

  h1 {
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: capitalize;
  }
}
